.feed {
  display: flex;
  width: 100%;
}

.dashboard-nav {
  background-color: #2a2929;
  color: white;
  width: 20%;
}

.feed-group {
  width: 100%;
}

.feed button {
  padding: 1rem 2rem;
  /* margin-left: 10rem; */
}
