.home-container {
  width: 100%;
}

header {
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header p {
  font-size: 2rem;
  color: #543ee0;
}

header ul {
  display: flex;
}

header ul li {
  list-style: none;
  margin-left: 2rem;
}

header ul li a {
  color: black;
  font-weight: 700;
  font-size: 16px;
}

.header-buttons a {
  margin-left: 2rem;
  padding: 0.6rem 2rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border: 1px solid #543ee0;
  font-weight: 500;
}

.btn-blue {
  background: #543ee0;
  color: white;
}

.btn-white {
  background: white;
  color: #543ee0;
}

#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../img/hero-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 10rem;
  color: white;
  height: 70vh;
}

#hero h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

#hero p {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#hero button {
  padding: 0.8rem 1.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border: 1px solid #543ee0;
  width: 9rem;
  background: #543ee0;
  color: white;
}


#data_plans {
  margin-top: 2rem;
  padding: 2rem 10rem;
}

#data_plans h2{
  text-align: center;
  margin-bottom: 2rem;
}


.data-plans-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.data-plans-table {
  width: 23%;
  border-collapse: collapse;
  margin: 20px 0;
}

.data-plans-table th,
.data-plans-table td {
  border: 1px solid #333;
  padding: 8px 12px;
  text-align: center;
}

.data-plans-table th {
  background-color: #f2f2f2;
}

.btn_buy_data {
  padding: 0.5rem 1rem;
  background: #543ee0;
  border: none;
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
}

#services {
  margin-top: 1rem;
  padding: 2rem 10rem;
}

#services h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.services-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.card {
  /* display: flex; */
  /* flex-direction: column; */
  border: 1px #d0d0d0 solid;
  width: 30%;
  padding: 1rem;
  margin-bottom: 2rem;
}

.card h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#agent {
  background: rgba(255, 237, 204, 0.5);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.agent-details {
  padding: 2rem 10rem;
  display: flex;
}

.agent-details img {
  border-radius: 5%;
  height: 20rem;
  width: 50rem;
}

.agent-note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5rem;
}

.agent-note button {
  width: 10rem;
  padding: 1rem;
  background: #543ee0;
  border: none;
  border-radius: 0.5rem;
  color: white;
  margin-top: 3rem;
  font-size: 1rem;
}

#about {
  /* background: rgba(255, 237, 204, 0.5); */
  margin-top: 5rem;
  margin-bottom: 10rem;
  padding: 2rem 10rem;
}

#about h2 {
  text-align: center;
  margin-bottom: 4rem;
}

.about-vend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-vend p {
  width: 45%;
}

.about-images {
  border-radius: 10%;
  position: relative;
}

.about-vend img {
  width: 400px;
  height: 300px;
  border-radius: 10%;
}

.about-image-2 {
  position: absolute;
  top: 50%;
  left: -105%;
}

.about-bottom {
  margin-top: 10rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

.about-bottom h2 {
  margin-bottom: 3rem;
  text-align: center;
}

.about-bottom p {
  margin-bottom: 3rem;
}

#products {
  margin-top: 15rem;
  margin-bottom: 10rem;
  padding: 2rem 10rem;
}

#products h2 {
  text-align: center;
}

#products img {
  width: 7rem;
  height: 7rem;
  margin: 1rem 2rem;
}

.product-detail {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.product-logos {
  display: flex;
  align-items: center;
  width: 50%;
  border: 2px solid #ccc;
  border-radius: 1rem;
}

.p-detail {
  display: flex;
  align-items: center;
}

.p-note {
  margin-left: 5rem;
}

.p-btn {
  padding: 1rem;
  background: #543ee0;
  border: none;
  border-radius: 0.5rem;
  color: white;
  margin-top: 3rem;
  font-size: 1rem;
}

#footer {
  background: rgba(255, 237, 204, 0.5);
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.contact {
  display: flex;
  justify-content: space-between;
  padding-left: 10rem;
  padding-right: 10rem;
}

.contact p {
  color: #543ee0;
  font-size: 2rem;
}

.contact-navigation {
  display: flex;
  flex-direction: column;
}

.contact-navigation ul {
  margin-top: 1.5rem;
}

.contact-navigation ul li {
  margin-top: 1rem;
  list-style: none;
}

.copyright {
  border-top: 1px solid #ccc;
  margin-top: 3rem;
}

.copyright p {
  text-align: center;
  padding-top: 1rem;
  font-weight: 700;
}

button {
  cursor: pointer;
}
