.home-container {
  width: 100%;
}

header {
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header p {
  font-size: 2rem;
  color: #543ee0;
}

header ul {
  display: flex;
}

header ul li {
  list-style: none;
  margin-left: 2rem;
}

header ul li a {
  color: black;
  font-weight: 700;
  font-size: 16px;
}

.header-buttons a {
  margin-left: 2rem;
  padding: 0.6rem 2rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border: 1px solid #543ee0;
}

.btn-blue {
  background: #543ee0;
  color: white;
}

#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../img/hero-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 10rem;
  color: white;
  height: 70vh;
}

#hero h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

#hero p {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#hero button {
  padding: 0.8rem 1.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border: 1px solid #543ee0;
  width: 9rem;
  background: #543ee0;
  color: white;
}

#services {
  margin-top: 4rem;
  padding: 2rem 10rem;
}

#services h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.services-cards {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.card {
  /* display: flex; */
  /* flex-direction: column; */
  border: 1px #d0d0d0 solid;
  width: 30%;
  padding: 1rem;
  margin-bottom: 2rem;
}

.card h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#agent {
   background: rgba(255, 237, 204, 0.5);
   /* margin-top: 4rem; */
 
}

.agent-details {
  padding: 2rem 10rem;
  display: flex;
}

.agent-details img {
  border-radius: 5%;
  height: 20rem;
  width: 50rem;
}

.testimonial-top-note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5rem;
}

.testimonial-top-note h4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.testimonial-top-note button {
  width: 10rem;
  padding: 1rem;
  background: #543ee0;
  border: none;
  border-radius: 0.5rem;
  color: white;
}

.testimonial-bottom {
  padding: 5rem;
  display: flex;
}

.testimonial-bottom-images {
  display: flex;
  align-items: center;
  margin-right: 10rem;
}

.testimonial-bottom-images img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

#about {
  margin-top: 5rem;
}

.about-top {
  display: flex;
  padding-left: 5rem;
  padding-right: 5rem;
  column-gap: 5rem;
}

.about-chatter p {
  margin-top: 2rem;
}

.about-bottom {
  margin-top: 10rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

.about-bottom h2 {
  margin-bottom: 3rem;
  text-align: center;
}

.about-bottom p {
  margin-bottom: 3rem;
}




.bottom-image-group {
  display: flex;
  flex-direction: column;
}

.third-testimonial {
  margin-top: 5rem;
}

.fourth-testimonial {
  margin-left: 5rem;
}

.testimonial-bottom-note p {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.testimonial-bottom-note button {
  width: 10rem;
  padding: 1rem;
  background: #543ee0;
  border: none;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
}

#contact {
  background: rgba(255, 237, 204, 0.5);
  display: flex;
  padding: 5rem;
  justify-content: space-between;
}

#contact p {
  color: #543ee0;
  font-size: 2rem;
}

.contact-navigation {
  display: flex;
  flex-direction: column;
}

.contact-navigation ul {
  margin-top: 1.5rem;
}

.contact-navigation ul li {
  margin-top: 1rem;
  list-style: none;
}

/* .form {
  width: 20rem;
  margin: 5rem auto;
  text-align: center;
  border: 1px #444 solid;
  display: flex;
  flex-direction: column;

  align-items: center;
} */

/* form label {
  margin-bottom: 2rem;
}

form label input {
  margin-left: 2rem;
} */

form button {
  margin-bottom: 2rem;
}
