/* .navigation-container {
  width: 15%;
  border-right: 1px #ccc solid;
  height: 100vh;
} */

.navigation-group {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  align-items: center;
  height: 100vh;
  width: 20%;
  border-right: 1px #ccc solid;
  /* margin-bottom: 20px; */
  /* box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px; */
}

.logo {
  font-size: 2rem;
  color: #543ee0;
}

.navigation {
 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation button {
  margin-left: 1rem;
  padding: 0.3rem 1.2rem;
  cursor: pointer;
}

.navbar {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

.list-group {
  display: flex;
  align-items: center;
  margin-bottom: 1.8rem;
}

.list-group li {
  margin-left: 1rem;
}

.trending {
  display: flex;
  align-items: center;
}

.trending h3 {
  margin-right: 0.2rem;
}

.trending-list li {
  margin-bottom: 1.5rem;
}

.navbar li {
  list-style: none;
  font-weight: 500;
  cursor: pointer;
}

.navbar ul {
  padding-left: 1.2rem;
  margin-top: 1.5rem;
}

a {
  text-decoration: none;
  color: #444;
}

.navbar a.active {
  color: black;
  border-bottom: 2px solid red;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
